.notice {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;

  .action {
    width: min(100%, 320px);
  }
}
