@use '../../variables' as *;

.textInput {
  width: 100%;
  height: 56px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 14px 16px;
  background-color: $input-background-color;
  border-radius: 16px;
  border: none;

  input {
    width: 100%;
    flex: 1;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    color: $text-color;
    outline: none;
    font-family: $font-family;

    &::placeholder {
      color: $placeholder-color;
      font-weight: 400;
    }
  }
}
