// main colors
$background-color: #fff;
$text-color: #171819;
$placeholder-color: #5d5e62;
$link-color: #235ac1;
$input-background-color: #f1f1f2;
$info-text-color: #74767b;

// button
$cta-button-background-color: #171819;
$cta-button-text-color: #fff;
$cta-button-hover-background-color: #2e2f31;
$cta-button-hover-text-color: #fff;
$cta-button-disabled-background-color: #f1f1f2;
$cta-button-disabled-text-color: #acadb0;
$secondary-button-background-color: #f1f1f2;
$secondary-button-text-color: #171819;
$secondary-button-hover-background-color: #e3e4e5;
$secondary-button-hover-text-color: #171819;
$secondary-button-disabled-background-color: #f1f1f2;
$secondary-button-disabled-text-color: #acadb0;

// typography
$font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;

// loader
$loader-color: #e3e4e5;
$loader-color-secondary: #fafafa;
$success-color: #1fc464;
$error-color: #ff3b57;
