@use '../../variables' as *;

.phoneInput {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 14px 16px;
  gap: 12px;
  background-color: $input-background-color;
  border-radius: 12px;
  border: none;

  .inputIcon {
    width: 24px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 2px;
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
    gap: 3px;

    .prefix, input {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
      color: $text-color;
      font-family: $font-family;
      padding: 0;
    }

    .prefix {
      display: inline-flex;
      align-items: center;
      user-select: none;
      pointer-events: none;
    }
  
    input {
      width: 100%;
      flex: 1;
      min-width: 0;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
      outline: none;
      appearance: none;
      -webkit-appearance: none;
  
      &::placeholder {
        color: $placeholder-color;
      }
    }
  }
}
